.body{
 background-color: rgb(213, 206, 206);
 }
.todo-app {
  width: 50%;
  margin: 40px auto;
  text-align: center;
  background-color:whitesmoke;}


#error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

#task-input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

#add-button {
  padding: 10px 20px;
  background-color: blue;
  color: black;
  border: none;
  border-radius: 1px solid black;
  cursor: pointer;
}

#task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
}

.task-item {
  background-color: whitesmoke;
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
}

.task-item:last-child {
  border-bottom: none;
}

.edit-button, .delete-button {
  padding: 5px 10px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: blue;
  color: #fff;
}

.delete-button {
  background-color: blue;
  color: #fff;
}